workflows/LinkedinMonitoring Part 1 (2).json
{
  "name": "LinkedinMonitoring Part 1",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -992,
        80
      ],
      "id": "dc96822d-d39f-4c95-946d-20ee2682905c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apimaestro~linkedin-profile-posts/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"limit\": 3,\n    \"total_posts\": 3,\n    \"username\": \"{{ $json.profile_url }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        0
      ],
      "id": "ed5c6d42-dae6-43a4-a977-58c01cee3e20",
      "name": "HTTP Request",
      "credentials": {
        "httpQueryAuth": {
          "id": "NEmaBEKih7MY1hRT",
          "name": "Apify"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2b1d6c4-e055-464d-8b09-9b10d8598273",
              "leftValue": "={{ $json.is_enabled }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -768,
        0
      ],
      "id": "31b5b0ed-5243-4e4f-9e9c-9df1833ef2f1",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -320,
        80
      ],
      "id": "9083d3e7-8e9a-48b3-a56a-76d64b3da093",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "39ce135f-cfb3-48e3-b839-c103444a4253",
              "leftValue": "={{ $json.post_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "bb9bb7b3-92d7-4230-9813-ba0e743cf284",
              "leftValue": "={{ $json.post_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        0
      ],
      "id": "f2572214-0d6d-43cc-a829-b91367441832",
      "name": "If1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1440,
        80
      ],
      "id": "cad446fd-fcc9-4903-bb2c-e7d42b771fd3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "schema": "linkedinengagements",
        "operation": "getAll",
        "tableId": "linkedin_profiles",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1216,
        80
      ],
      "id": "3c2f5132-c29e-448c-af07-c45736147bbc",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "RaFzxSiA3fPLOhEZ",
          "name": "LGSupabase"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "schema": "linkedinengagements",
        "operation": "get",
        "tableId": "linkedin_posts",
        "filters": {
          "conditions": [
            {
              "keyName": "post_url",
              "keyValue": "={{ $('Loop Over Items1').item.json.url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -96,
        0
      ],
      "id": "1bca6fc0-2c21-49d6-996b-9d61456891d3",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RaFzxSiA3fPLOhEZ",
          "name": "LGSupabase"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "schema": "linkedinengagements",
        "tableId": "linkedin_posts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "post_url",
              "fieldValue": "={{ $('Loop Over Items1').item.json.url }}"
            },
            {
              "fieldId": "posted_at_timestamp",
              "fieldValue": "={{ $('Loop Over Items1').item.json.posted_at.date }}"
            },
            {
              "fieldId": "profile_url",
              "fieldValue": "={{ $('If').item.json.profile_url }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "PENDING"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        512,
        64
      ],
      "id": "c924e7b5-0545-47c4-a4ef-c76395769699",
      "name": "Create a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RaFzxSiA3fPLOhEZ",
          "name": "LGSupabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "228844f2-ea64-4688-b7b0-9b02cbec3428",
              "leftValue": "={{ $('Loop Over Items1').item.json.post_type }}",
              "rightValue": "repost",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        -80
      ],
      "id": "78719c94-ae5f-40c9-87c3-c10047f0f032",
      "name": "If2"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e1a95a5b-dfeb-4009-b12b-1822582807f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37274c1b58dbebdf1f71be091550e19ea24e97234b5394a167d9b4dc2d7949cb"
  },
  "id": "BpGF0rIXaF0fpYsZ",
  "tags": []
}